<div>
   <p align="center">
     	  {% if page.copyright %}
         <img src="{{ site.cdn_prefix }}assets/images/{{ page.copyright }}.jpg" >
        {% endif %}
   </p>
   <p align="center" style="margin-top: 100px; font-size: 14px;color: #337ab7;">
       <strong>（转载本站文章请注明作者和出处 <a href="{{site.url}}">NeuLion Web</a>）</strong>
   </p>
<!--   <p align="center" style="margin-top: 15px; font-size: 16px;color: #337ab7;">-->
<!--       <strong><a href="http://laughyouth.com/" target="_blank">点击了解：全网唯二以程序员为主题的漫画公众号</a></strong>-->
<!--   </p>-->
</div>